<!DOCTYPE html>
<html>
	<head>
	  <title>Basic React / Node Environment</title>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
		<script>
			var __PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>;
		</script>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="bundle.js"></script>
	</body>
</html>
